/* Раздел связи */
section.adress {
    min-height: 84vh;
    margin-top:12vh;
}


.adress .contents{
    display:flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    /* height: 50rem; */
}

.adress .contents iframe{
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
}

.adress .contents form{
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
    text-align: center;
    padding: 5rem 2rem;
}

.adress .contents form h3{
    text-transform: uppercase;
    color:#fff;
    font-size: 3.5rem;
    padding: 1rem 0;
}

.adress .contents form .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: var(--border);
}

.adress .contents form .input-box span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.adress .contents form .input-box input{
    background-color: var(--black);
    text-transform: none;
    color:#fff;
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}

.adress .contents .btn{
    border-radius: 5px;
}

.adress .contents .btn:hover{
    background-color: #fff;
    color: var(--main-color);
}